.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #040507;
  background-image: url("../img/bg-index.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 bottom;
  width: 100%;
  min-height: 700px;

  &--inner {
    min-height: 0;
    background-position: 55% 10%;
  }

  @media (min-resolution: $retina-2dpi), (min-resolution: $retina-2dppx) {
    background-image: url("../img/bg-index@2x.jpg");
    background-size: 1920px auto;
  }

  @media (min-resolution: $retina-3dpi), (min-resolution: $retina-3dppx) {
    background-image: url("../img/bg-index@3x.jpg");
    background-size: 1920px auto;
  }
}

.page-header__logo {
  width: 210px;
  min-height: 80px;
  box-sizing: border-box;
  padding: 15px 0;
}

.page-header__logo-link {
  display: flex;

  &:hover,
  &:focus,
  &:active, {
    opacity: 0.5;
  }
}

.page-header__logo-img {
  padding-right: 22px;

  &:last-child {
    padding-right: 0;
  }
}

.page-header__toggle {
  position: absolute;
  z-index: 1;
  display: block;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .page-header__toggle {
    display: none;
  }
}

.page-header--closed .page-header__toggle {
  top: 28px;
  right: 20px;
  width: 24px;
  height: 18px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 4px;
    background-color: #ffffff;
    box-shadow: 0 7px 0 0 #ffffff, 0 14px 0 0 #ffffff;
  }

  &:hover::after {
    background-color: #ffffff;
    box-shadow: 0 7px 0 0 #ffffff, 0 14px 0 0 #ffffff;
  }
}

.page-header--opened .page-header__toggle {
  position: absolute;
  top: 23px;
  right: 23px;
  z-index: 2;
  width: 22px;
  height: 22px;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -5px;
    width: 31px;
    height: 2px;
    background-color: #ffffff;
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }

  &:hover::after,
  &:hover::before {
    background-color: #ffffff;
  }
}

.page-header__container {
  @include container;
  display: flex;
  background-color: #000000;
  background-image: url("../img/bg-pattern.jpg");
  background-repeat: round;
  flex-direction: column;
}

@media (max-width: $until-tablet-width) {
  .page-header {
    &--opened {
      min-height: 1100px;
    }

    &--closed .page-header__container {
      max-height: 80px;
      overflow: hidden;
      background-image: none;
      background-color: transparent;
    }

    &--opened .page-header__container {
      overflow: visible;
    }
  }

  .page-header--inner.page-header--opened {
    min-height: 592px;
    background-position: 0 -300%;
  }

  .no-js {
    .page-header {
      min-height: 1100px;
    }

    .page-header__container {
      overflow: visible;
    }

    .page-header__toggle {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    background-image: url("../img/stripes.png"), url("../img/bg-index.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
    background-position-y: 0;
    background-position-x: calc((100% - 50%) + 30px), calc((100% - 50%));

    @media (min-resolution: $retina-2dpi), (min-resolution: $retina-2dppx) {
      background-image: url("../img/stripes@2x.png");
      background-size: 1350px auto;
    }

    @media (min-resolution: $retina-3dpi), (min-resolution: $retina-3dppx) {
      background-image: url("../img/stripes@3x.png");
      background-size: 1350px auto;
    }

    &--inner {
      padding-bottom: 25px;
    }

    &--inner .page-header__container::after {
      height: 156px;
      left: 20%;
    }
  }

  .page-header__container {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
    padding: 0;
    padding-top: 15px;
    background-image: none;
    background-color: transparent;

    &::after {
      content: "";
      position: absolute;
      width: 31px;
      transform: skew(155deg);
      top: 0;
      left: 6%;
      height: 860px;
      background-color: rgba(#186aa9, 0.3);
    }
  }

  .page-header__logo {
    padding: 0;
    margin-right: 8.5%;
  }
}

@media (min-width: $desktop-width) {
  .page-header__container {
    @include desktop-width;
  }
}
