$until-tablet-width: 749px;
$tablet-width: 750px;
$desktop-width: 1140px;
$retina-2dpi: 144dpi;
$retina-2dppx: 1.5dppx;
$retina-3dpi: 288dpi;
$retina-3dppx: 3dppx;

$text-color: #2f2f2f;
$green: #00973f;
